// "Coming soon" page styles
.coming-soon {
  body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 1rem;
  }

  header,
  .announcement,
  footer {
    background: $color-white;
    box-shadow: none;
  }
  
  .announcement__title {
    line-height: 2.4rem;
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  .social__facebook-link {
    display: block;
    margin-top: 0;
    float: left;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
//    margin-left: auto;
//    margin-right: auto;
    
    img {
      width: 75px;
    }
  }
  
  /* Larger than phablet */
  @media (min-width: 550px) {
    .announcement__title {
      line-height: 3.4rem;
      font-size: 3rem;
      margin-top: 1rem;
  }
  }
}