* {
  box-sizing: border-box;
}

// Region dimensions
// -----------------------------------
header,
.hero,
.wares__soaps,
.wares__oils,
.ordering,
.side-info,
footer {
  display: block;
  width: 100%;
  padding-left:  10%;
  padding-right: 10%;
  padding-bottom: 3rem;
  padding-top: 1px;
}

header {
  padding-top: 1rem;
  padding-bottom: 0;
}

// Region background colors
// -----------------------------------
header,
.hero,
.about,
.social {
  background: $color-white;
}

.wares__soaps {
  background: $color-pale-green;
}

.wares__oils {
  background: $color-chardon;
}

.ordering {
  background: $color-grey;
  color: $color-white;
}

.side-info {
  background: $color-white;
}

footer {
  background: $color-pale-beige;
}

// Inner shadows for website's main regions. First shadow is for top of a block, 
// and second shadow is for the bottom.
.hero,
.wares__soaps,
.wares__oils,
.ordering,
.side-info,
footer {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5),
              inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
//    box-shadow: inset 0 1px 10px #000;
//    box-shadow: inset 0  0 10px #000;
}

.hero__copy {
  max-width: 28 * 1em;
}

// Wares region
// --------------------------------------------------
.wares__group-name {
  margin-bottom: $baseLineHeight * 2rem;
}

// Ordering region
// --------------------------------------------------
.ordering a {
  font-weight: bold;
  color: $color-white;
  
  &:hover {
    color: darken($color-white, 10%);
  }
}

// Social region
// --------------------------------------------------
.social__facebook-link {
  display: block;
  margin-top: $baseLineHeight * 1rem;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

//.row {
//  width: 100%;
//  max-width: 960px;
//  margin-left:  auto;
//  margin-right: auto;
//}

@media (min-width: 1000px) {
  .home {
    display: block;
//    background: url(/img/contemporary_china_2.png);
    background: url(/img/paper_fibers_@2X.jpg);
    background-size: 410px 410px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); 
  }
}
