// Colors
$color-brown:      #382725;
$color-green:      #7DBE60;
$color-white:      #FFF;
$color-pale-green: #E8F2E4;
$color-chardon:    #FFF4F2;
$color-grey:       #8194A3;
$color-pale-beige: #FAFAFA;